html {
    font-size: 14px
}

@media (min-width:768px) {
    html {
        font-size: 16px
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 .1rem white,0 0 0 .25rem #258cfb
}

html {
    position: relative;
    min-height: 100%
}

body {
    margin-bottom: 60px;
   
    /*font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    font-variation-settings: "slnt" 0, "wdth" 100, "GRAD" 0, "XOPQ" 96, "XTRA" 468, "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;*/
}


#spinner {
    display: block;
}

#main-content {
    display: none;
}


.ui-datepicker-unselectable .ui-state-disabled {
    text-decoration: line-through;
    color: #c0c0c0; /* Lighter color for disabled dates */
}